body {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    color: white;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden;
    /* background-image: url(./bg.jpg);
    background-size: 200%;    
    background-position: bottom;
    z-index: -1;
    animation: bgAnimation 260s linear infinite; */
}
/* @keyframes bgAnimation {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 200%;
    }
    100% {
        background-size: 100%;
    }
} */

#loading {
    color: white;
    font-size: 24px;
}

#score, #highscore, #gameover, #instructions {
    position: absolute;
    font-size: 12px;
}

#score {
    top: 10px;
    right: 10px;
}

#highscore {
    top: 40px;
    right: 10px;
}

#gameover {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    display: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
#instructions {
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

#startButton {
    font-size: 14px;
    padding: 5px 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

