body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    /* background-color: black; */
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
}

#loading {
    color: white;
    font-size: 24px;
}

#score, #highscore, #gameover, #instructions {
    position: absolute;
    font-size: 20px;
}

#score {
    top: 10px;
    right: 10px;
}

#highscore {
    top: 40px;
    right: 10px;
}

#gameover {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    display: none;
}

#instructions {
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

#startButton {
    font-size: 24px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

